

<h2>対象画像ディレクトリ</h2>
<form action="/dir" method="post">
  <p>リサイズ 前画像</p>
  <input type="text" name="sourcePath" value="">
  <p>リサイズ 後画像</p>
  <input type="text" name="destinationPath" value="">
  <input type="submit" value="ディレクトリを確定">
</form>